@font-face { 
font-family: Cyberpunk;
  src: url("/gradio_api/file=/Cyberpunk.otf") format("otf");
  font-weight: Regular;
  font-style: normal;
}

h1 {
    font-family: Cyberpunk;
    font-size: 38px;
    font-style: normal;
  }